:root {
  --primary: #3D29B5;
  --primary-light: #6951F6;
  --secondary: #332168;
  --text: #9da1a5;
  --border: #ffffff26;
  --bgdark1: #24262B;
  --bgdark2: #1F2125;
  --bgdark3: #1B1D20;
  --bgdark4: #1A1B1E;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2b2d33;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(120deg, var(--secondary) 0%, var(--primary));
}

body {
  background: url("../../assets/img/bg-lines.svg") center repeat-y, var(--bgdark2);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Montserrat';
  margin: 0;
}

h1, h2, h3 {
  color: var(--text);
  font-weight: 600;
}

h4, h5, h6 {
  color: var(--bs-white);
  font-weight: 600;
}

p {
  color: var(--text);
  line-height: 1.8;
}

li {
  color: var(--text);
}

li::marker {
  color: var(--primary);
}

.z-above {
  z-index: 1;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

header > .container {
  padding-right: 0;
  max-width: 1800px;
}

#logo {
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-toggler {
  --bs-navbar-toggler-icon-bg: url(../../assets/img/hamburger-toggle.svg);
  border: none;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
  background: var(--bgdark4);
}

.nav-link {
  color: var(--bs-white);
  font-family: 'Montserrat';
  font-weight: 600;
  letter-spacing: 4px;
  margin: 0px 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--primary-light);
}

.nav-link:focus {
  color: var(--bs-white);
}

footer {
  background: var(--bgdark1);
  border-top: 1px solid var(--border);
}

.footer-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-row1 {
  margin: 0 !important;
  padding-top: 12px;
  padding-bottom: 32px;
}

.footer-row2 {
  margin: 0 !important;
}

.footer-row2 p {
  font-size: 10px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.particles-fixed {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.content {
  padding-top: 90px;
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
  row-gap: 20px;
}

.hero {
  background: linear-gradient(90deg, #191a1c 10%, rgba(25,26,28,0) 100%), url("../../assets/img/bg-header.jpg") center / cover no-repeat, #191a1c;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.2);
}

.hero .container {
  height: 100%;
  gap: 20px 0;
  padding-bottom: 60px;
}

.hero-filter {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
}

.sub-logo {
  color: #ffffff1a;
  font-size: 400px;
  font-family: Saira, sans-serif;
  font-weight: bold;
  position: absolute;
  cursor: default;
  z-index: 0;
}

.title {
  cursor: default;
  color: rgba(255,255,255,0);
  font-size: 80px;
  font-family: Saira, sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.title a:hover {
  text-shadow: 0 0 7px var(--bs-white), 0 0 10px var(--bs-white), 0 0 21px var(--bs-white), 0 0 42px var(--primary-light), 0 0 82px var(--primary-light), 0 0 92px var(--primary-light), 0 0 102px var(--primary-light), 0 0 151px var(--primary-light);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.sub-title {
  width: 300px;
  align-items: center;
  display: flex;
  margin: 0;
  direction: ltr;
  margin-top: 150px;
}

.sub-title:before {
  display: block;
  content: "";
  border-bottom: 0;
  flex-grow: 1;
  border-top: 20px solid var(--bs-white);
  border-width: 2px;
}

.sub-title-text {
  padding-left: 20px;
  color: var(--text);
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.social-link {
  color: var(--text);
  font-size: 25px;
  line-height: 25px;
  transition: .3s;
}

.social-link:hover {
  color: var(--bs-white);
}

.button {
  position: relative;
  width: 200px;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  color: var(--bs-white);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 12px 0px;
  display: inline-block;
  transition: all .3s;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  background: linear-gradient(120deg, var(--secondary) 0%, var(--primary));
  z-index: -1;
  transition: all 0.3s;
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  background-color: var(--border);
  border: 2px solid #fffffff0;
  transform: scale(1.2,1.2);
}

.button:hover {
  color: var(--bs-white);
}

.button:hover::before {
  opacity: 0;
  transform: scale(0.5,0.5);
}

.button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.header-anim {
  background: var(--bgdark4);
  box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
}

.scroll-down {
  position: absolute;
  right: 18%;
  bottom: 0;
  margin: auto;
  width: 17px;
  height: 60px;
  border-right: dashed 1px rgba(255,255,255,0.2);
}

.mouse {
  width: 2px;
  padding: 6px 12px;
  height: 25px;
  border: 3px solid rgba(255,255,255,0.4);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--bs-white);
  animation: scroll 2s infinite;
  animation-timing-function: cubic-bezier(1, 1, 0.1, 0.1);
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}

.typewrite {
  text-decoration: none;
  color: transparent !important;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.section-title {
  border-left: 6px solid;
  padding-left: 20px;
  border-image-slice: 1;
}

.border-gradient-purple {
  border-image-source: linear-gradient(0deg, #332168 0%, #3d29b5);
}

.about-image {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--border);
  background: url("../../assets/img/mesh.svg") no-repeat;
  background-size: contain;
  background-position: 25% 75%;
}

.skill-icon-container {
  column-gap: 8%;
  background: var(--bgdark2);
  padding: 20px;
  border: 20px solid var(--bgdark1);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
}

.skill-icon {
  color: #9DA1A5;
  font-size: 90px;
}

.col-container1 {
  margin-bottom: 20px;
}

.col-container2 {
  margin-top: 20px;
}

.col-container-div1 {
  height: 100%;
  background: var(--bgdark3);
  padding: 20px;
  border: 1px solid var(--border);
  border-top: 4px solid var(--secondary);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  transition: all 0.3s;
  row-gap: 20px;
}

.col-container-div2 {
  height: 100%;
  background: var(--bgdark1);
  padding: 20px;
  border: 1px solid var(--border);
  border-top: 4px solid var(--primary);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  transition: all 0.3s;
  row-gap: 20px;
}

.col-container-div1:hover, .col-container-div2:hover {
  background: transparent;
}

.card-img-overlay {
  background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.9));
  margin: 20px;
}

.photo-card {
  padding: 20px;
  background: transparent;
  border-color: #ffffff26 !important;
  transition: .3s;
}

.photo-card:hover {
  border-color: var(--bs-white) !important;
  filter: brightness(80%) saturate(0%);
  background: url("../../assets/img/mesh.svg") no-repeat;
  background-size: contain;
  background-position: 25% 75%;
}

.photo-gallery {
  padding-bottom: 40px;
}

.scroll-to-top {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  color: var(--bs-white);
  border: 1px solid var(--border);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.scroll-to-top svg {
  margin: auto;
}

.scroll-to-top:hover {
  color: var(--primary-light) !important;
  border-color: var(--bs-white);
}

#cursor {
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

.cursor-circle {
  width: 24px;
  height: 24px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  border: solid 1px #ffffff99;
  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

#cursor.pointer .cursor-circle {
  width: 42px;
  height: 42px;
  background: #ffffff2b;
}

/* responsive */

@media (max-width: 400px) {
  .skill-icon-container {
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 90vh;
  }

  p {
    font-size: 14px;
    line-height: 1.8;
  }

  .sub-logo {
    font-size: 200px;
  }

  .title {
    font-size: 48px;
  }

  .sub-title {
    width: 232px;
  }

  .sub-title-text {
    font-size: 16px;
  }

  .social-container {
    margin-bottom: 20px;
  }

  .button {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .nav-link {
    padding: 15px;
  }

  .footer-row1, .footer-row2 {
    text-align: center;
  }

  .skill-icon {
    font-size: 48px;
  }

  .col-container1, .col-container2 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  #cursor {
    display: none;
  }
}

@media (max-width: 1250px) {
  .scroll-to-top {
    display: none !important;
  }
}
